<?xml version="1.0"?>
<!--
Copyright 2021 RUVU Robotics B.V.
-->

<model>
  <name>Reflector</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Paul Verhoeckx</name>
    <email>paul@ruvu.nl</email>
  </author>

  <description>
    A resflective block with a constant reflective value
  </description>
</model>
